### For loop

In [3]:
mylist = ['a','b','c']
for ch in mylist:
    print(ch)

a
b
c

### While loop

In [2]:
i = 0
while i<3:
    print('hello')
    i = i+1
print('done')

hello
hello
hello
done

### While loop with continue

In [ ]:
while True:
    s = input("Enter a sentence: ")
    if len(s) == 0:
        continue
    words = s.split(
        print(f"{len(words)} words")
    print("done")
    )
# now I have to hit Control C to exit the infinite loop.

### While loop with Break

In [ ]:
while True:
    s = input("Enter a sentence: ")
    if len(s) == 0:
        break
    words = s.split()
    #If no separator is provided to the split(), it splits the string based on whitespace characters by default.
    print(f"{len(words)} words")
    print("done")

Enter a sentence:  Mein Name is mike

4 words
done

### Range example 1

In [4]:
# Iterate through numbers from 0 to 9
for i in range(10):
    # no need to initialize (i) since
    # when you use a for loop with the range(), the loop automatically initializes the loop variable (i) for you.
    print(i, end=' ')

0 1 2 3 4 5 6 7 8 9

### Range example 2

In [ ]:
r = range(20, 50, 5)
print(r)
# Output
range(20, 50, 5)

### Convert it to a list

In [ ]:
r = range(20, 50, 5)
print(list(r))
# Output
[20,25,30,35,40,45]

In [5]:
string = "apple,banana,orange"

# Splitting the string using comma as separator
result = string.split(',')

print(result)  # Output: ['apple', 'banana', 'orange']

['apple', 'banana', 'orange']

## Programming Patterns

* Tranform Pattern
* Filter Pattern
* Nested Loops Pattern

### Transform Pattern - take a list and raise to the second power

In [ ]:
mylist = [1,2,3,4,5,6,7,8]
newlist = []
for n in mylist:
    newlist.append(n ** 2)
print(newlist)

### Filter Pattern

* Select items that meet specitied conditions
* Input: Sequence
* Processing: if statement
* Output: sequence subset

In [ ]:
mylist = [1,2,3,4,5,6,7,8]
newlist = []
for n in mylist:
    if n% 2 == 0:
        newlist.append(n)
print(newlist)


#### Output
[2,4,6,8]

### Nested Loops

* Loop inside a loop
  * an inner loop is completed for each iteration of an outer loop


* outer loop
  * inner loop
    * innerer loop body
  * outer loop body

In [ ]:
adjectives = ['frozen','cooked','roasted','boiled']
nouns = ['fish','veggies','chicken']

for adj in adjectives:
    # outer loop
    for noun in nouns:
        # inner loop
        print(f"{adj} {noun}", end="\t")
    print()

# Output
```
frozen fish frozen veggies frozen chicken
cooked fish cooked veggies cooked chicken
roasted fish roasted veggies roasted chicken
```