## Sets

* container of unique items
* Can only contain immutable items
  * numbers
  * strings
  * tuples

* like dict without values, just keys (must be unique, like in a dict)
* You can create a set from a list, string, tuple or dict, discarding any duplicate values
* use it when you want to know if something exists

> [documentation](https://docs.python.org/3/tutorial/datastructures.html#sets)

### Set have a unique property

* Although they are mutable, they follow a set condition
  * adding an item that already exists will be rejected/will not be added.
    This will maintain the set condition (all the items are unique).

### Example - Set have a unique property

* return a set with only unique items from containter.

In [8]:
mylist = [1,2,3,3,2,1]
myset = set(mylist)
#passing a sequence (a data type that stores an ordered collection of items) 
# as an argument to the set function
print(myset)
 
# order of the Output set may be different on a nother machine or at another time.

{1, 2, 3}

* Sets are not sequences (a data type that stores an ordered collection of items).
  * Items are **unordered**: order of the items is not guaranteed, not significant.
  * No index operator.
  * if ordered sequences is needed, convert to a list or tuple.
  * `With sets we are mostly concerned about membership`.

In [ ]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}
union_set = set1.union(set2) # or set1 | set2
print(union_set)

{1, 2, 3, 4, 5}

In [9]:
# Creating a set
animals = {"dog", "cat", "rabbit", "bird", "turtle"}

# Check if an element is in the set
print("cat" in animals)  # Output: True
print("snake" in animals)  # Output: False

True
False

### Use case - Removing Duplicates
* to handle collections of unique elements

In [32]:
my_list = [1, 2, 2, 3, 4, 4, 5]
unique_elements = list(set(my_list))
    # unique_elements will be [1, 2, 3, 4, 5] (order not guaranteed)

print(unique_elements)

[1, 2, 3, 4, 5]

### Use case - Membership Testing

* Sets are iterable:
  * meaning, you can loop through each element in the set using a for loop.

In [10]:
# Creating a set
fruits = {"apple", "banana", "cherry", "orange"}

# Using a for loop to iterate over elements in the set
print("Iterating over elements in the set:")
for fruit in fruits:
    print(fruit)

Iterating over elements in the set:
cherry
apple
banana
orange

### Use case - Finding common elements

In [ ]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}
intersection_set = set1.intersection(set2) # or set1 & set2
print(intersection_set)

{3}

* pass it to a len function

In [11]:
fruits = {"apple", "banana", "cherry", "orange"}
# Using the len() function to get the number of elements in the set
num_fruits = len(fruits)
print("\nNumber of fruits in the set:", num_fruits)

Number of fruits in the set: 4

### Set literals

* using curly braces
* items are seperated by comma
* empty set is represented by a set function
* Sets are created using curly braces {} or the `set()` constructor.

In [12]:
set()
#function call

# Creating a set
my_set = {1, 2, 3, 4, 5}
print(my_set)  # Output: {1, 2, 3, 4, 5}

{1, 2, 3, 4, 5}

NOTE: it is not using curly braces to represent an empty set.
Dictionaries are also using curly braces. => an empty set is relegated to a function call.

In [28]:
#no duplicate items
{-0.5,1,2,3,4,8,16}
{"info@berkeley.edu", "help@irs.gov", "data@wikipedia.com"}
{(10,20), (30,40), (40,30),(20,20)}

{(10, 20), (20, 20), (30, 40), (40, 30)}

### Set Functions - Syntax

```text
set(container)
```

### Set Operations

set1 == set2
set1 != set2
item in set2 #membership operator

* Compare sets

In [16]:
set1 = {1,2,3,4,4,4,3,3}
print(set1)
# Output => all unique {1,2,3,4}

{1, 2, 3, 4}

In [ ]:
set1 = {1,2,3,4,4,4,3,3}
print(set1)
print(set1 == {4,1,2,3})
# compare set1 with values

{1, 2, 3, 4}
True

### Set Method `set.add(item)`

* add item to set only if the item does not already exists
* if it already exists, it does nothing

In [27]:
s1 = {'a','b','c'}
s1.add('d')
print(s1)
s1.add('a')
print(s1)

{'d', 'a', 'b', 'c'}
{'d', 'a', 'b', 'c'}

* remove item from set of the item does not exist, throw a KeyError exception `set.remove(item)`

In [26]:
s1 = {'a','b','c'}
s1.remove('a')
print(s1)
#s1.remove('d')
#print(s1)

{'b', 'c'}

* remove all items in set

In [ ]:
set.clear()

### Set comprehension - Syntax

```python
myset = {exp for item in iteravle if cond_exp}

myset{}
for item in iterable:
    if cond_exp:
        myset.add(exp)  
```

Example

In [22]:
mylist = [n // 2 for n in range(10)]
print(mylist)

[0, 0, 1, 1, 2, 2, 3, 3, 4, 4]

In [21]:
mylist = [n // 2 for n in range(10)]
print(mylist)
myset = {n // 2 for n in range(10)}
print(myset)

[0, 0, 1, 1, 2, 2, 3, 3, 4, 4]
{0, 1, 2, 3, 4}

In [23]:
a = {x for x in 'abracadabra' if x not in 'abc'}
a
{'r', 'd'}

{'d', 'r'}

| Data Type  | Content Type  | Sequence  | Mutable  |
|---|---|---|---|
| String  | characters  | yes  | no  |
| list  | anything  | yes  | yes  |
| tubple  | anything  | yes  | no  |
| range  | integers  | yes  | no  |
| set  | immutable items  | no  | yes  |

***

> [back](./index.html)